# Visual Studio
.vs/
*.vcxproj*
*.sln
*.user
*.VC.db
*.VC.opendb
*.ipch
*.sqlite

# Visual Studio build Output
Debug/
Release/
x64/
out/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
/build/

# Binaries
*.exe
*.dll
*.obj
*.lib
*.pdb

# GLFW build output
external/glfw/out/

# Logs
*.log
*.tmp