# Visual Studio
.vs/
*.user
*.VC.db
*.VC.opendb
*.ipch
*.sqlite

# Keep sln. and .vcxproj tracked
# *.sln
# *.vcxproj*

# Visual Studio build Output
Debug/
Release/
x64/
out/
out/build/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Binaries
*.exe
*.dll
*.lib
*.pdb

# Object files from compilation (not 3D models)
x64/**/*.obj
Debug/**/*.obj
Release/**/*.obj
out/**/*.obj
*.vcxproj.user

# Track 3D model files
!models/*.obj

# GLFW build output
external/glfw/out/

# Logs
*.log
*.tmp