# Visual Studio
.vs/
*.user
*.VC.db
*.VC.opendb
*.ipch
*.sqlite

# Keep sln. and .vcxproj tracked
# *.sln
# *.vcxproj*

# Visual Studio build Output
Debug/
Release/
x64/
out/
out/build/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Binaries
*.exe
*.dll
*.obj
*.lib
*.pdb

# GLFW build output
external/glfw/out/

# Logs
*.log
*.tmp